In [1]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

# Create a new workbook and grab the active worksheet
wb = Workbook()
ws = wb.active

In [2]:
hello_world = ws['A1']
hello_world.value = 'Hello, world'

In [3]:
distance_to_moon = ws['A2']
distance_to_moon.value = 238855

In [4]:
distance_to_moon.number_format = '#,###'

In [5]:
cost_to_space = ws['A3']
cost_to_space.value = 55000000
cost_to_space.number_format = '$#,##0'

In [6]:
planets_df = pd.read_csv('https://raw.githubusercontent.com/stringfestdata/training-assets/master/datasets/planet_distances_from_earth.csv')
planets_df

    planet  distance_from_sun  distance_from_earth  percent_nitrogen
0  Mercury               57.9                 91.7             0.000
1    Venus              108.2                 41.4             0.000
2    Earth              149.6                  0.0             0.780
3     Mars              227.9                 78.3             0.027
4  Jupiter              778.5                628.7             0.000
5   Saturn             1434.0               1275.0             0.000
6   Uranus             2871.0               2724.0             0.000
7  Neptune             4495.0               4351.0             0.000

In [8]:
# Write data out to DataFrame 

for r in dataframe_to_rows(planets_df, header=True, index=False):
    ws.append(r)

In [ ]:
# Format all of columns B-C as number

for cell in ws

In [ ]:
# Save the workbook to a file
wb.save('example.xlsx')